#windows

*.sdf
*.dll
*.suo
*.opensdf
*.exe
*.exp
*.lib
BiPolar_V2/ipch
BiPolar_V2/obj

.DS_Store
.app


#osx

*.sdf
*.dll
*.suo
*.opensdf
*.exe
*.exp
*.lib
BiPolar_V2/ipch
BiPolar_V2/obj

.DS_Store
.app